.container{
    background-color: aqua;
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    height: 100%;
    width: 20%;
    background-color: rgb(255, 131, 131);
    color: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    background-color: rgb(188, 255, 255);
}


.grid_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
     grid-auto-rows: minmax(70px, auto);

}